@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-beige: #f8e4bc;
  --color-beige-dark: #c69052;
  --color-brown: #451d18;
  --color-op-red: #c8472c;
  --color-op-yellow: #f8de3c;

  --font-sans: var(--font-inter);
  --font-pirate: var(--font-bebas-neue);
  --font-op: var(--font-op);
}

:root {
  --radius: 0.625rem;
}
body,
html {
  height: 100%;
  background-image: url("/images/mapa-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
